body {
  background-color: #121212; /* Dark grey background */
  color: #e0d3d3; /* Light grey text */
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  margin: 50px;
  padding: 20px;
  background: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}