/* Community CSS */
.community {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
}

.community h2 {
  font-size: 2rem;
  color: #111;
}

.community .btn-primary {
  padding: 10px 20px;
  background-color: #007aff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.community .btn-primary:hover {
  background-color: #005bb5;
}
